.lista_documentos li.OrderConfirmation{background-image : url(./order_confirmation.png);}
.lista_documentos li.Order{background-image : url(./order.png);}
.lista_documentos li.ProformaInvoice{background-image : url(./proforma_invoice.png);}
.lista_documentos li.Invoice{background-image : url(./invoice.png);}
.lista_documentos li.PackingList{background-image : url(./packing_list.png);}
.lista_documentos li.BillofLading{background-image : url(./bill_of_lading.png);}
.lista_documentos li.ShippingInstructions{background-image : url(./shipping_instructions.png);}
.lista_documentos li.Telex{background-image : url(./telex.png);}
.lista_documentos li.ImportPermit{background-image : url(./import_permit.png);}
.lista_documentos li.CertificateofOrigin{background-image : url(./certificate_of_origin.png);}
.lista_documentos li.VettingChecklist{background-image : url(./vetting_checklist.png);}
.lista_documentos li.RFP{background-image : url(./rfp.png);}
.lista_documentos li.NDA{background-image : url(./nda.png);}
.lista_documentos li.PurchaseContract{background-image : url(./purchase_contract.png);}
.lista_documentos li.TechnicalSpecifications{background-image : url(./technical_specifications.png);}
.lista_documentos li.BusinessSpecifications{background-image : url(./business_specifications.png);}