.sticky-header {
    position: sticky;
    top: 0;
    background-color: #f8f8f8; /* Color de fondo opcional */
    z-index: 2; /* Ajusta el índice z según sea necesario */
}
.circle {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, 50%); /* Ajusta la posición hacia la izquierda según sea necesario */
    width: 20px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 20px;
    border-radius: 50%; /* Círculo */
}

.green {
    background-color: #00ff00;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
}

.black {
    background-color: #000000;
}

.custom-card {
    width: 100%; /* Ancho personalizado (ajusta según sea necesario) */
    height: 20%; /* Altura personalizada (ajusta según sea necesario) */
    /* Otros estilos personalizados si es necesario */
}

.circle-container {
    position: absolute;
    top: 0;
    right: 40%; /* Ajustar a un valor negativo para mover hacia la izquierda */
    display: flex;
    justify-content: center;
    align-items: left;
    width: 8%; /* Ancho del 10% del contenedor principal */
    height: 80%; /* Altura del 10% del contenedor principal */
    background-color: #0070d2;
    border-radius: 50%;
    color: white;
    font-size: 100%; /* Tamaño de fuente del 4% del contenedor principal */
    font-weight: bold;
}
.circle-container2 {
    position: absolute;
    top: 0;
    right: 30%; /* Ajustar a un valor negativo para mover hacia la izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%; /* Ancho del 10% del contenedor principal */
    height: 80%; /* Altura del 10% del contenedor principal */
    background-color: #0070d2;
    border-radius: 50%;
    color: white;
    font-size: 100%; /* Tamaño de fuente del 4% del contenedor principal */
    font-weight: bold;
}

.circle-container3 {
    position: absolute;
    top: 0;
    right: 2%; /* Ajustar a un valor negativo para mover hacia la izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; /* Ancho del 10% del contenedor principal */
    height: 80%; /* Altura del 10% del contenedor principal */
    background-color: #0070d2;
    border-radius: 50%;
    color: white;
    font-size: 100%; /* Tamaño de fuente del 4% del contenedor principal */
    font-weight: bold;
}

.circle-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}