    .compare
    {
        cursor:pointer;
        padding-right:8px;
    }
    .compareField
    {
        position:relative;
    }
    .compareField:after
    {
        content:'';
        position:absolute;
        display:block;
        width:8px;
        height:15px;
        background:url(/img/alohaSkin/sortArrows_sprite.png);
        top:0;
        margin-top:auto;
        bottom:0;
        margin-bottom:auto;
        right:0;
    }
    .compareAsc:after
    {
        background-position-y:-15px;
    }
