/*CSS Order to Stock*/

#capa_totales
{
	width: 1088px;
}

#titulo_status_container 
{
	float: left;
	font-family: Century Gothic, Arial;
	font-size: 24px;
	margin: 0px 10px 10px 19px;
	border-bottom: 1px solid #283742;
}

#lista_datos_container 
{
float: left;
padding: 0px;
list-style-type: none;
}

#lista_datos_container li 
{
float: left;
width: 322px;
vertical-align: middle;
}

.nombre_dato_container 
{
text-align: justify;
font-family: Century Gothic, Arial;
font-size: 12px;
margin: 19px 10px 10px 10px;
float: left;
width: 144px;
}

.dato_container
 {
	width: 69px;
	margin: 19px 10px 10px 10px;
	text-align: right;
	padding-right: 22px;
	font-family: Century Gothic, Arial;
	font-size: 12px;
	float: left;
}

.imagen_dato_container 
{
	float: left;
	width: 37px;
	margin: 7px 0px 0px 0px;
}

.ui-progress-bar 
{
	position: relative;
	height: 35px;
	padding-right: 2px;
	background-color: #abb2bc;
	border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
	background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
	width: 286px;
	margin: 10px;
	margin-left: 0px;
	border-radius: 5px;
}

.ui-label 
{
	float: left;
	position: absolute;
	margin: 9px 94px 7px 64px;
	z-index: 101;
	width: 100%;
	color: rgba(0,0,0,0.6);
	text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
	white-space: nowrap;
}

.ui-progress {
	position: relative;
	display: block;
	overflow: hidden;
	height: 33px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	-webkit-background-size: 44px 44px;
	background-color: #1797c0;
	background: -webkit-gradient(linear, 0 0, 44 44,
	 color-stop(0.00, rgba(255,255,255,0.17)),
	 color-stop(0.25, rgba(255,255,255,0.17)),
	 color-stop(0.26, rgba(255,255,255,0)),
	 color-stop(0.50, rgba(255,255,255,0)),
	 color-stop(0.51, rgba(255,255,255,0.17)),
	 color-stop(0.75, rgba(255,255,255,0.17)),
	 color-stop(0.76, rgba(255,255,255,0)),
	 color-stop(1.00, rgba(255,255,255,0))
	 ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #1797c0), color-stop(1, #1797c0));
	background: -moz-repeating-linear-gradient(top left -30deg,
	 rgba(255,255,255,0.17),
	 rgba(255,255,255,0.17) 15px,
	 rgba(255,255,255,0) 15px,
	 rgba(255,255,255,0) 30px
	 ), -moz-linear-gradient(#1797c0 0%, #1797c0 100%);
	-webkit-box-shadow: inset 0px 1px 0px 0px #1797c0, inset 0px -1px 1px #1797c0;
	-moz-box-shadow: inset 0px 1px 0px 0px #1797c0, inset 0px -1px 1px #1797c0;
	box-shadow: inset 0px 1px 0px 0px #1797c0, inset 0px -1px 1px #1797c0;
	border: 1px solid #1797c0;
	-webkit-animation: animate-stripes 2s linear infinite;
	border-radius: 5px;
	-webkit-animation: animate-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
	background-size: 40px 40px;
	text-align: center;
}